*.o
*.class
*.exe
*.log
# *.in
*.ttt
*.aux
*.lof
*.lot
*.fff
*.dvi
*.ps
*.class
*~
*.jbin
brute_force
generator
#/Practico1/mochila/whatchmaker/dist/
#/Practico1/mochila/whatchmaker/build/
/Practico1/mochila/whatchmaker/nbproject/private/private.xml
/Practico1/mochila/whatchmaker/nbproject/private/private.properties
*.out
/Lab/mandaderos/scheduler/nbproject/private/
/Lab/mandaderos/scheduler/build/
/Lab/mandaderos/scheduler/dist/
/Lab/mandaderos/testSQLite/SQLiteTest/nbproject/private/
/Lab/mandaderos/testSQLite/SQLiteTest/build/