*.o
*.class
*.exe
*.log
# *.in
*.ttt
*.aux
*.lof
*.lot
*.fff
*.dvi
*.ps
*.class
*~
brute_force
generator
#/Practico1/mochila/whatchmaker/dist/
/Practico1/mochila/whatchmaker/build/
/Practico1/mochila/whatchmaker/nbproject/private/private.xml
/Practico1/mochila/whatchmaker/nbproject/private/private.properties
*.out
